.profile {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 40px auto 51px;
}

@media (max-width: 767px) {
    .profile{
        flex-direction: column;
        margin: 42px auto 36px;
    }
}